HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# database
database/

### React App ###
src/g-player-react/node_modules/
src/g-player-react/public/images/
src/g-player-react/static/images/
src/g-player-react/public/gp_images/

### Images
src/main/resources/public/images/
src/main/resources/static/images/
src/main/resources/gp_react/gp_images/

